.c1{width:100%;margin-bottom:1em;clear:both;}
.c2{width:48%;margin-right:4%;margin-bottom:1em;float:left;clear:none;}
.c3{width:30.666666667%;margin-right:4%;margin-bottom:1em;float:left;clear:none;}
.c3:nth-of-type(3n+3){margin-right:0;}
.c1 img.thumb,.c2 img.thumb,.c3 img.thumb{max-width:100% !important;margin:0 0 1em;float:none;}
